@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'material-symbols/outlined.css';

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
